body {
    font-family: 'Allerta Stencil';
}
.hrow{
	background: violet;
}
.hrow img{
	width:50%;
	height: auto;
}
.hrow span{
	font-size: 60px;
}
.hrdiv a{
	float:right;
	margin-left: 10px;
	text-decoration:none;
	padding: 10px;
	color:blue;
}
.aeff:hover{
	border-radius: 10px;
	box-shadow: 2px 2px 10px lightgray;
	color:red;
}
nav a{
	float:right;
	margin-left: 10px;
	text-decoration:none;
	padding: 10px;
	color:blue;
}
nav a:hover{
	border-radius: 10px;
	box-shadow: 2px 2px 10px lightblue;
	color:red;
	text-decoration:none;
	background:violet;
}
nav .active{
	color:red;	
}
nav form{
	width: 100px;
}
@media only screen and (min-width:576px) and (max-width: 768px){
	.hrow img{
		width:90%;
		height: auto;
	}
	.hrow span{
		font-size: 40px;
	}
	nav a{
		float:left;
	}
}
@media only screen and (max-width:575px){
	.hrow img{
		width:20%;
		height: auto;
	}
	.hrow span{
		font-size: 40px;
	}
	.hrdiv a{
		float:left;
	}
	nav a{
		float:left;
	}
}

/* Make the image fully responsive */
.carousel-inner img {
    width: 100%;
    height: 100%;
	}
 #carid{
 	width:70%;
 	margin-left: 15%;
 }
 .imgdiv img{
   border-radius: 5px;
   width:100%;
   height: auto;
 }
 .imgdiv{
 	margin-bottom: 10px;
 }
#frm{
			width: 40%;
			margin-left: 30%;
			padding: 10px;
			box-shadow: 3px 3px 4px;
		}
		#frm input{
			margin-top: 10px;
			margin-bottom: 10px;
			padding: 10px;
			width: 90%;
			border-radius: 5px;
		}
		#frm .bbt{
			width: 70px;
			text-align: center;
			background: violet;
		}
		#frm .bbt:hover{
			background: red;
			color: violet;
		}
		body {
				  background-color: lightgreen;
				}

		@media only screen and (max-width: 600px) {
				  body {
				    background-color: lightblue;
				  }
		}